footer {
    width: 100%;
    padding: 40px;
    letter-spacing: 2px;
    font-size: .8rem;
    z-index: 2;

    @include themify() {
        background-color: themed("NavBackgroundColor");
    };    

    a {
        text-decoration: none;
        
        @include themify() {
            color: themed("TextPrimaryColor");
        };    

        &:hover {
            text-decoration: none;
        }
    }

    section {
        padding: 10px 0 0 0;

        a {  
            font-weight: 300;          
            @include themify() {
                color: themed("TextPrimaryColor");
            };    
        }
    }
};