// misc
$PageHeader: 3.5rem;
$NavHeight: 3.75rem;
$BorderRadius: 10px;

// Screen Sizes
$SmallestScreenSize: 180px;
$MobileBreakpoint: 540px;
$TabletBreakpoint: 1024px;

// Forms
$InputBorderRadius: 10px;
$InputMargin: 5px 0 10px 0;
$InputPadding: 3px 10px;
$InputFontSize: 0.9rem;
$InputMinHeight: 2rem;

// Grids
$GridGap: 1rem;

$ModuleHeight: 450px;
