.list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-top: calc(#{$NavHeight} / 4);

    .list--headers {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;    

        .list--headers-title {
            font-weight: bold;
        }

        .list--headers-sub-title {
            font-size: 0.9rem;

            @include themify() {
                color: themed("TextAlternativeColor");
            }
        }
    }
}
