@import "./common/css/index.scss";

// App-wide styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  width: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  box-sizing: inherit;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

p,h1,h2,h3,h4,h5,span,div {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
}

@import "./sites/index.scss";
