.login {
    width: 100%;
    height: 100%;
    flex: 1 0 auto;

    @include flexbox($type: "column", $justify: "center", $align: "center");

    .login__card {
        width: 100%;

        @include flexbox($type: "column", $justify: "center", $align: "center");

        a {
            width: 100%;
            padding: 20px 0 0 0;
            font-size: 0.8rem;

            @include themify() {
                color: themed("TextPrimaryColor");
            }; 
        }
    }
}