.multi-select {
    width: 100%;
    display: block;
    min-height: $InputMinHeight;
    position: relative;
    
    @include flexbox($type: "column");

    .multi-select__input {
        width: 100%;
        height: 100%;
        border-radius: $InputBorderRadius;
        content: "";
        font-size: calc(#{$InputFontSize} *.75);
        padding: $InputPadding;
        cursor: pointer;

        @include flexbox($align: "center");
        flex-wrap: wrap;
        @include themify() {
            background-color: themed("SelectPrimaryBackgroundColor");
            color: themed("TextPrimaryColor");
        }; 
    }

    .multi-select__selected-options {
        display: inline;
        border-radius: $InputBorderRadius;
        padding: .2rem 1rem;
        margin: 3px;
        
        @include themify() {
            background-color: themed("ButtonSecondaryTextColor");
            color: themed("TextPrimaryColor");
        }; 
        
        &--dummy {
            @include themify() {
                background-color: themed("ButtonAlternativeTextColor");
                color: themed("TextPrimaryColor");
            };     
        }
    }

    .multi-select__dropdown {
        position: absolute;
        top: $InputMinHeight;
        width: 100%;
        height: 200px;
        overflow-y: scroll;
        
        @include themify() {
            background-color: themed("SelectDropdownPrimaryBackgroundColor");
            color: themed("TextPrimaryColor");
        }; 
        
        button {
            padding-right: 30px;
            padding-left: 30px;
            cursor: pointer;

            @include themify() {
                background-color: themed("ButtonPrimaryBackgroundColor");
                color: themed("TextPrimaryColor");
            };     
        }

        .checkbox {
            width: 100%;
            cursor: pointer;

            @include flexbox($align: "center");

            input {
                width: auto;
                margin: 0 1rem;
            }
        }
    }

    .caret-down {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);    
    }
}